#imagem {
    text-allign: center;
}

#link  {
    text-allign: center;
}
p{
   color: red;
    font-size:  30;
    text-align: right; 
 }
  h1{
   color: blue;
    text-allign: center:
    font-size:  50;
 }
 h2{
   color: green;
   text-allign: left;
   font-size: 40; 
 }
 
